*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
core/build/.transforms/47e69dff4d4fe5d6d26e35ac15cd787b/
sceneform/build/.transforms/7a38d248d90571aef0c551c58399d7e8/
ux/build/.transforms/24df696cb4fbe6bd8482a3c53aa4ef6c/
